/*
    Author: Joel Lopez Villarreal, Adrian Morales
*/

/* CSS Reset */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Public sans', sans-serif;
    background: #ffffff;
}

/* Change title size for small screens */
@media (max-width: 830px) {
    .standard-title {
        width: 100%;
        height: 65px;
        font-size: 30px;
    }
}

/* Change title size for desktop screens */
@media (min-width: 830px) {
    .standard-title {
        width: 500px;
        height: 100px;
        font-size: 50px;
    }
}

/* Change font-size of footer for small screens */
@media (max-width: 640px) {
    .standard-footer-bar a {
        font-size: 14px;
    }
}

/* Change font-size and logo size for desktop screens */
@media (min-width: 641px) {
    .standard-nav-bar a {
        font-size: 18px;
    }

    .standard-footer-bar a {
        font-size: 18px;
    }

    #nav-logo {
        width: 150px;
    }
}

/* Change font-size and logo size for medium screens */
@media (max-width: 640px) and (min-width: 380px) {
    .standard-nav-bar a {
        font-size: 14px;
    }

    #nav-logo {
        width: 90px;
    }
}

/* Change font-size and logo size for tiny screens */
@media (max-width: 379px) {
    .standard-nav-bar a {
        font-size: 10px;
    }

    #nav-logo {
        width: 70px;
    }
}

/* Navigation bar basic CSS */
.standard-nav-bar {
    background-color: #031329;
    font-family: 'Public sans', sans-serif;
    font-weight: 400;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

/* CSS of nav links */
.standard-nav-bar a {
    display: flex;
    color: #E6E6E6;
    margin-right: 1rem;
    text-decoration: none;
}

/* CSS of logo placeholder */
#nav-logo {
    display: flex;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    color: #031329;
    background-color: #E6E6E6;
    height: 60px;
}

/* Must display as column in order for footer to stick to the bottom */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation bar basic CSS */
.standard-footer-bar {
    background-color: #031329;
    font-family: 'Public sans', sans-serif;
    font-weight: 400;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: auto;
}

/* CSS of nav links */
.standard-footer-bar a {
    display: flex;
    color: #E6E6E6;
    margin-right: 1rem;
    text-decoration: none;
}

/* Standard style for a button */
.standard-button {
    background: #031329;
    color: #FFFFFF;
    border-radius: 45px;
    cursor: pointer;
    border: 0;
}

/* Standard style for a title */
.standard-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #D8B2A7;
    font-family: 'Public Sans', sans-serif;
    color: #FFFFFF;
    border-radius: 70px;
}