/* Change font-size and logo size for desktop screens */
@media (min-width: 641px) {
    .standard-nav-bar a {
        font-size: 18px;
    }

    #nav-logo {
        width: 150px;
    }
}

/* Change font-size and logo size for medium screens */
@media (max-width: 640px) and (min-width: 380px) {
    .standard-nav-bar a {
        font-size: 14px;
    }

    #nav-logo {
        width: 90px;
    }
}

/* Change font-size and logo size for tiny screens */
@media (max-width: 379px) {
    .standard-nav-bar a {
        font-size: 10px;
    }

    #nav-logo {
        width: 70px;
    }
}

/* Navigation bar basic CSS */
.standard-nav-bar {
    background-color: #031329;
    font-family: 'Public sans', sans-serif;
    font-weight: 400;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

/* CSS of nav links */
.standard-nav-bar a {
    display: flex;
    color: #E6E6E6;
    margin-right: 1rem;
    text-decoration: none;
}

/* CSS of logo placeholder */
#nav-logo {
    display: flex;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    color: #031329;
    background-color: #E6E6E6;
    height: 60px;
}