/* Center boxes, decrease font size, and decrease title width for mobile view. */
@media (max-width: 800px) {
    .about-us-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us-content p {
        font-size: 40px;
    }

}

/* Increase font size and title width in desktop view. */
@media (min-width: 801px) {
    .about-us-content p {
        font-size: 50px;
    }
}

/* CSS styles that do not depend on viewport sizes. */
.about-us-container {
    margin: 20px;
}

.about-us-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #E6E6E6;
    border-radius: 80px;
    padding: 18px;
}

.about-us-content p {
    color: #031329;
    font-family: 'Public sans', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}