/* Set margin and padding of text tags used to 0*/
h1, h3, p {
    margin: 0;
    padding: 0;
}

/* Mobile View */
@media (max-width: 800px) {
    .title-img {
        height: 200px;
    }

    .title-img h1 {
        font-size: 35px;
    }

    .title-img h3 {
        font-size: 20px;
    }

    .truck-package-container {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .truck-package {
        height: 150px;
        width: 100%;
    }

    .package-price-converter button {
        font-size: 25px;
        width: 230px;
    }
    
    .truck-package h2 {
        font-size: 30px;
        margin-top: 0;
    }
    
    .truck-package p {
        font-size: 20px;
    }
}

/* Added to accomodate better the truck package boxes */
@media (min-width: 801px) and (max-width: 1040px) {
    .truck-package-container {
        margin-right: 50px;
        margin-left: 50px;
        gap: 30px;
        margin-bottom: 50px;
    }
}

/* Added to accomodate better the truck package boxes */
@media (min-width: 1041px) {
    .truck-package-container {
        margin-right: 50px;
        margin-left: 50px;
        gap: 80px;
        margin-bottom: 50px;
    }
}

/* Standard Desktop view */
@media (min-width: 801px) {
    .title-img {
        height: 426px;
    }

    .title-img h1 {
        font-size: 60px;
    }

    .title-img h3 {
        font-size: 40px;
    }
    
    .package-price-converter button {
        font-size: 30px;
        width: 267px;
    }
    
    .truck-package {
        width: 300px;
        padding: 20px;
        padding-bottom: 50px;
    }

    .truck-package h2 {
        font-size: 40px;
    }
    
    .truck-package p {
        font-size: 20px;
    }
}

/* Attributes that do not change regardless of width */
.title-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../sources/2019_Top_Five_Class_5-Mack.jpg.optimal.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.truck-package-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    font-weight: 300;
    color: #FFFFFF;
}

.package-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #031329;
    width: 100%;
    height: 130px;
    font-size: 20px;
}

.truck-package {
    display: flex;
    flex-direction: column;
    background-color: #BA745F;
    color: #FFFFFF;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.package-price-converter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.package-price-converter button {
    text-align: center;
    height: 86px;
    margin-bottom: 20px;
}
